#tag-list {
    list-style-type: none;
}

#tag-list li {
    float: left;
    width: 300px;
    border: 1px solid #cdcdcd;
    padding: 3px;
    margin: 3px;
    cursor: pointer;
}

#tag-list li.selected {
    background-color: #ffb663;
}

#tag-list li:nth-child(3n) {
    clear: both;
}