<!DOCTYPE html>
<html>
<head>
    <title>Demandaron</title>
    <link rel="stylesheet" href="assets/css/style.css"/>
    <script src="assets/js/json2.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.cookie.js"></script>
    <script src="assets/js/underscore-min.js"></script>
    <script src="assets/js/backbone-min.js"></script>
    <script src="assets/js/demandaron.js"></script>
</head>
<body>
    <script type="text/template" id="tag-template">
        <%= name %> <span>&#9744;</span>
    </script>

    <script type="text/template" id="language-template">
        <%= name %>
    </script>

    <div id="demandaron">
        <h1>Software Metrics Survey</h1>
        <h2>
            <p>
               From the list below please select the language in which you are most fluent and metric/metrics which are most reliable
               in assesing software quality.
            </p>
        </h2>
        <div id="language-box">
            <span class="error"></span>
            <label for="language">Language:</label>
            <select name="language" id="language"></select>
        </div>

        <div id="metrics-box">
            <h3>Choose metrics below:</h3>
            <span class="error"></span>
            <ul id="tag-list" class="clearfix"></ul>
        </div>

        <div id="new-metric-box">
            <h3>... or add new metric</h3>
            <input type="text" placeholder="enter metric name here..." id="metric-name" />
            <input type="button" value="+ Add new metric" id="add-metric-button"/>
        </div>

        <div id="opinion-box">
            <h3>Your additional opinion:</h3>
            <textarea name="opinion" id="opinion" placeholder="enter your opinion about metrics here..."></textarea>
        </div>

        <button id="send-survey-button">Send Survey!</button>
    </div>
</body>
</html>